
<div class="sociaisN-container">
    <h1>Sociais</h1>
    <div class="sociaisN-wrapper">


        <div class="sociaisN-content">

            <div class="social-N">
                <img src="/assets/icones/whats.png" alt="whats-logo">
                <div class="socialN-content">
                    <h4>Whatsapp</h4>
                    <p>{{whatsDesc}}</p>
                </div>
                <p><a href="https://wa.me/5551999661982" target="_blank">+55 51 99966 1982</a></p>
            </div>
            
            <div class="social-N">
                <img src="/assets/icones/in.png" alt="in-logo">
                <div class="socialN-content">
                    <h4>Linkedin</h4>
                    <p>{{linkedinDesc}}</p>
                </div>
                <p><a href="http://linkedin.com/in/gabriel-brisolara/" target="_blank">linkedin.com/in/gabriel-brisolara</a></p>
                
            </div>
            
            <div class="social-N">
                <img src="/assets/icones/mail.png" alt="mail-logo">
                <div class="socialN-content">
                    <h4>{{emailTitle}}</h4>
                    <p>{{emailDesc}}</p>
                </div>
                <p><a href="mailto:dev.brisolara@gmail.com">{{email}}</a></p>
                
            </div>
            
            <div class="social-N">
                <img src="/assets/icones/github.png" alt="insta-logo">
                <div class="socialN-content">
                    <h4>Github</h4>
                    <p>{{githubDesc}}</p>
                </div>
                <p><a href="https://github.com/brisolarag" target="_blank">github.com/brisolarag</a></p>

            </div>
            
            

        </div>

    </div>
</div>