$about-font: 20px;

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
  }
@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  


.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $about-font;
}

.about-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% auto;
}

.about-resume {
    height: 100%;
    display: flex;
    justify-content: center;

}

.about-resume-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 92.97vh;
    padding: 30px;
    overflow-wrap: break-all;
}

.about-resume-box h3 {
    font-size: 1.5em;
    font-weight: 400;
}
.about-resume-box h4 {
    font-size: 1.1em;
    font-weight: 400;
}
.about-resume-box span {
    font-weight: bolder;
}

.about-resume-box h2 {
    font-size: 4.8em;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    word-wrap: break-word;
}

.about-resume-box p {
    font-size: 1.3em;
}
.about-resume-box a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.about-pic-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.about-picture {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.about-picture img {
    height: auto;
    width: 40vw;
    filter: drop-shadow(0 -2mm 4mm rgb(255, 255, 255));
}

.about-description-content {
    height: auto;
    overflow-wrap: break-all;
}

@media (max-width: 1200px) {
    .about-wrapper {
        grid-template-columns: 1fr;
    }
    .about-picture {
        display: none;
    }

    .about-resume-box {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}

@media (max-width: 740px) {
    .about-resume-box h2 {
        font-size: 3.5rem;
        overflow-wrap: break-all;
        hyphens: auto;

    }
    .about-resume-box h3 {
        font-size: 1.3rem;
        overflow-wrap: break-all;
    }

}
@media (max-width: 540px) {
    .about-resume-box h2 {
        font-size: 3.5rem;
    }
    .about-resume-box h3 {
        font-size: 1.0rem;
    }
    .about-resume-box p {
        font-size: 1.3rem;
    }

}
@media (max-width: 470px) {
    .about-resume-box h2 {
        font-size: 2.0rem;
    }

}

// @media (max-width: 693px) {
//     .about-container {
//         font-size: 15px;
//     }

// }
// @media (max-width: 591px) {
//     .about-container {
//         font-size: 13px;
//     }

// }
// @media (max-width: 526px) {
//     .about-container {
//         font-size: 11px;
//     }

// }
// @media (max-width: 526px) {
//     .about-container {
//         font-size: 9px;
//     }

// }
// @media (max-width: 390px) {
//     .about-container {
//         font-size: 7px;
//     }

// }