<div class="about-container">
    <div class="about-wrapper">
        <div class="about-resume">
            <div class="about-resume-box">
                <h3>{{welcomeAbout}}<span className='about-nome-bolded'> Gabriel Brisolara</span> 👋</h3>
                    <h2>{{titleAbout}}</h2>
                    <div className="about-description-content">
                        <p>{{descAbout}}<a href="#">{{moreAbout}}</a></p>
                        <h4 className='about-region'>{{regionAbout}}</h4>
                    </div>
            </div>
        </div>

        <div class="about-picture">
            <img src="assets/aboutpage/me1.png" alt="prof-pic">
        </div>
    </div>
</div>
